
<h2>@ViewBag.Message</h2>
@*This will be the description of the restaurant*@
<p>Our restaurant is fairly new in Montreal but we'd really like to spread our cusine everywhere across Canada.</p>
<br />
<h2>How to Order our desirable food.</h2>
<ol>
    <li>You may order by registering or signing into your account.</li>
    <li>Next, you can move over to the order page, where you can see our various options.</li>
    <li>Once you have chosen your food and drinks, you can add your order to the cart.</li>
    <li>Our stores are available everywhere in Montreal. It's like we are a weeb version of McDonald's</li>
    <li>Since we are living during the Covid-19 pandemic, we recommend ordering online and having your delicious food delivered to your household.</li>
</ol>
<br />
<h2>We hope our food can bring a smile to everybody's faces and yours especially!</h2>
