@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 Van Horne<br />
    Montreal, QC H3W 1J2<br />
    <abbr title="Phone">Phone:</abbr>
    123.456.7891
</address>

<address>
    
</address>