@{
    ViewBag.Title = "Home Page";
}

<div style=" background-position-y: -125px; color: red; background-size: cover; background-repeat: no-repeat; background-image: url(/images/test_image_background.PNG);" class="jumbotron">
    <span style="float: right;">
        <button style="margin-right: 25px;">Create Account</button>  
        <button>Sign in</button>
    </span>
    <h1>Bulma and Bulla Fast Food</h1>
    <p class="lead">Bulma and Bulla Fast Food is a fast food restaurant chain up and coming in the Greater Montreal Area.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>