
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<table width="80%">
    <tr>
        <td colspan="3"><h3>Dishes</h3></td>
        <td><button id="btnMenuItems" onclick="AddOrderToCart()">Add items to cart</button></td>
    </tr>
    <tr>
        <td><img src="~/images/senzuBean.jpg" /><h4>Senzu Bean</h4></td>
        <td>$999.99</td>
        <td>
            <p>Sugar:    0%</p>
            <p>Health: 100%</p>
        </td>
        <td>
            <input id="senzuQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/gotchaPork.jpg" /><h4>Gotcha Pork Roast</h4></td>
        <td>$39.99</td>
        <td>
            <p>Potato: 1000g</p>
            <p>Bacon:   500g</p>
        </td>
        <td>
            <input id="gotchaQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/krabbyPatty.png" /><h4>Krabby Patty</h4></td>
        <td>$4.99</td>
        <td>
            <p>Ingredients:</p>
            <p>Secret</p>
        </td>
        <td>
            <input id="krabbyQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/hiddenLeafRamen.jpg" /><h4>Hidden Leaf Ramen</h4></td>
        <td>$0.99</td>
        <td>
            <p>Ninjutsu: 0%</p>
            <p>Ramen:  100%</p>
        </td>
        <td>
            <input id="ramenQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/brockOnigiri.jpg" /><h4>Brock's Onigiri</h4></td>
        <td>$19.99</td>
        <td>
            <p>Rice:          80%</p>
            <p>Brock's love: 100%</p>
        </td>
        <td>
            <input id="onigiriQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/happyMeal.jpg" /><h4>Happy Meal</h4></td>
        <td>$3.99</td>
        <td>
            <p>Happiness:  100%</p>
            <p>Cholesterol: 500g</p>
        </td>
        <td>
            <input id="happyQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/karaageRoll.png" /><h4>Karaage Roll</h4></td>
        <td>$12.99</td>
        <td>
            <p>Ingredients:</p>
            <p>Karaage, Roll</p>
        </td>
        <td>
            <input id="karaageQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/rainbowTerrine.jpg" /><h4>Rainbow Terrine</h4></td>
        <td>$39.99</td>
        <td>
            <p>Ingredients:</p>
            <p>Cake, Assorted food colouring</p>
        </td>
        <td>
            <input id="rainbowQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/beefBouguignon.png" /><h4>Beef Bouguignon</h4></td>
        <td>$69.99</td>
        <td>
            <p>Beef:  1000g</p>
            <p>Water: 300ml</p>
        </td>
        <td>
            <input id="beefQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/erinaEggBenedict.png" /><h4>Erina's Egg Benedict</h4></td>
        <td>$49.99</td>
        <td>
            <p>Ingredients:</p>
            <p>Eggs, Benedicts</p>
        </td>
        <td>
            <input id="eggQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr><td colspan="4"><h3>Drinks</h3></td></tr>
    <tr>
        <td><img src="~/images/ramune.jpg"/><h4>Ramune</h4></td>
        <td>$2.99</td>
        <td>
            <p>Ingredients:</p>
            <p>Water</p>
        </td>
        <td>
            <input id="ramuneQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
    <tr>
        <td><img src="~/images/pocari.jpg"/><h4>Pocari Sweat</h4></td>
        <td>$2.99</td>
        <td>
            <p>Ingredients</p>
            <p>Fish sweat</p>
        </td>
        <td>
            <input id="pocariQuantity" class="quantityInputs" type="number" min="0" value="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  />
        </td>
    </tr>
</table>