

<h2>@ViewBag.Message</h2>

<h4>Find orders with the same gender: </h4>
@Html.ActionLink("Search", "GenderS", "Home")
<br />
<h4>Find orders within the same city: </h4>
@Html.ActionLink("Search", "CityS", "Home")
<br />
<br />
<hr />
@Html.ActionLink("Back to Dashboard", "UserDashboard", "Home")

